input[type="text"],
select {
  height: 100%;
  padding: 12px 0px 12px 50px;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 40px 0px 0px 40px;
  box-sizing: border-box;
  font-family: "Oswald";
  font-size: 24px;
  width: 100%;
}

input,
input::-webkit-input-placeholder {
  font-size: 24px;
  line-height: 3;
}

textarea:focus,
input:focus {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 17px;
}
.wrapper {
  margin: 0 auto;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0rem 3rem 0rem 3rem;
  align-items: center;
  margin-bottom: 1.45rem;
  border: none;
}
.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.firstCol {
  width: 18%;
  box-sizing: border-box;
  order: 1;
  align-items: center;
}
.secondCol {
  display: flex; /*Add this*/
  width: 55%;
  height: 10%;
  box-sizing: border-box;
  order: 2;
  background-color: white;
  box-sizing: border-box;
  border-radius: 40px;
}
.secondCol .innerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.secondCol .innerFlex .firstItem {
  /*border: 1px solid #00f;*/
  width: 85%;
  order: 1;
}
.secondCol .innerFlex .secondItem {
  width: 1%;
  height: 75%;
  order: 2;
  border-right: 3px solid #ccc;
}

.secondCol .innerFlex .thirdItem {
  cursor: pointer;
  background: url(../images/more_2.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 40px 40px 0px;
  /*border: 1px solid #f0f;*/
  width: 14%;
  height: 100%;
  order: 3;
  border: none;
}

.secondCol .innerFlex .thirdItem:active {
  background: url(../images/more_1.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.thirdCol {
  width: 18%;
  box-sizing: border-box;
  order: 3;
  box-sizing: border-box;
}

.thirdCol .innerFlexV2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.thirdCol .innerFlexV2 .searchButton {
  cursor: pointer;
  background: url(../images/more_2.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 90px;
  width: 90px;
  height: 90px;
  order: 1;
  background-color: #ff0000;
  border: none;
}

.thirdCol .innerFlexV2 .chatbotButton {
  cursor: pointer;
  background: url(../images/more_2.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 90px;
  width: 90px;
  height: 90px;
  order: 2;
  background-color: #ffff00;
  border: none;
}

.thirdCol .innerFlexV2 .switchViewButton {
  cursor: pointer;
  background: url(../images/more_2.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 90px;
  width: 90px;
  height: 90px;
  order: 3;
  background-color: #00ff00;
  border: none;
}

.thirdCol .innerFlexV2 .searchButton:active {
  background: url(../images/more_1.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff0000;
}

.thirdCol .innerFlexV2 .chatbotButton:active {
  background: url(../images/more_1.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffff00;
}

.thirdCol .innerFlexV2 .switchViewButton:active {
  background: url(../images/more_1.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00ff00;
}
