#overlay {
  width: 100%;
  background-color: #e6e6e6;
}

.buttonsHolder {
  padding: 0.45rem 0rem;
  position: fixed;
  width: 100%;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 5px solid white;
  background-color: #3399ff;
}

.closeViewer {
  cursor: pointer;
  background: url(../images/close_1.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  margin-right: 3rem;
  z-index: 9;
  width: 60px;
  height: 60px;
  border: none;
}

.closeViewer:active {
  background: url(../images/close_2.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.zoomHolder {
  position: absolute;
  left: 0;
  margin-left: 3rem;
  height: 60px;
}

.zoomInViewer {
  cursor: pointer;
  background: url(../images/plus_1.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-right: 0.45rem;
}

.zoomOutViewer {
  cursor: pointer;
  background: url(../images/minus_1.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  border: none;
}

.backwardViewer {
  cursor: pointer;
  background: url(../images/backward_1.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  border: none;
}

.forwardViewer {
  cursor: pointer;
  background: url(../images/forward_1.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  border: none;
}

.zoomInViewer:active {
  background: url(../images/plus_2.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.zoomOutViewer:active {
  background: url(../images/minus_2.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.backwardViewer:active {
  background: url(../images/backward_2.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.forwardViewer:active {
  background: url(../images/forward_2.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.imageHolder {
  display: flex;
  justify-content: center;
}

.App-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 7.45rem 3rem 0rem 3rem;
  padding: 7.45rem 0rem 3rem 0rem;
}

.App-zoom {
  display: block;
  width: 100%;
}

.viewHolder {
  display: flex;
  flex-direction: column;
}

.viewerInfo {
  font-family: "Oswald";
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0rem 1.45rem;
}
